body {
    font-family: 'adventureregular',sans-serif;
    margin: 0;
}
h1{
    margin: 0;
}
p{
    margin: 0;
}
.main{
    background: url("../img/original.jpg") no-repeat;
    z-index: 10;
    background-size: cover;
}
.main-wrap{
 }
.container{
    width: 1080px;
    padding: 0 15px;
    margin: 0 auto;
}
.main-wrapper{
    text-align: center;
    z-index: 9;
    height: 1080px;
    position: relative;
}
.main-wrapper img{
    position: relative;
}
.main-wrapper__title{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    display: none;
}
.main-wrapper__title h1{
    font-size: 45px;
    font-weight: 400;
}
.main-wrapper__title select{
    position: absolute;
    right: 130px;
    top: 90px;
}
.main-wrapper__info{
    max-width: 721px;
    text-align: left;
    margin-left: 170px;
    padding-top: 50px;
    z-index: 2;
    display: none;
    position: relative;
}
.main-wrapper__info p{
    font-size: 21px;
    font-weight: 400;
    margin-top: 20px;
}
.main-wrapper__link{
    z-index: 2;
    position: absolute;
    bottom: 80px;
    left: 30%;
    display: none;
}
.main-wrapper__link a{
    font-size: 30px;
    color: black;
    text-decoration: none;
    border-bottom: 2px solid #a99a75;
}
.lang-first__p{
    font-size: 21px;
    font-weight: 400;
    margin-top: 20px;
}
